[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
**/obj/
**/bin/
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.apk
*.aab
*.keystore
*.jks
.DS_Store
TestResults/
Recordings/
MemoryCaptures/
.env
.env.*
